body {
  margin: 0 auto;
  /* Puedes cambiar el color de fondo (background-color) si lo deseas */
  background-color: #ffff;
  max-width: 1200px;
  min-width: 500px;
  display: flex;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.js-plotly-plot .plotly .main-svg {
  border: 0px;
}

svg {
  border: solid 1px rgb(0, 0, 0);
}

/* Footer always stays at the bottom */
.site-footer {
  background-color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto; /* Pushes the footer to the bottom */
}

.textStart {
  flex: 1; /* Allow the textStart to take up available space */
}

.textStart li {
  padding-top: 8px;
}

.textStart.legend span {
  width: 15px;
  height: 15px;
  background-color: rgb(0, 0, 0);
  display: inline-block;
}

#additional-info {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Spread the items apart */
  align-items: flex-start; /* Align them at the top (same height) */
  font-size: 14px;
}

#country-selector {
  margin-top: 10px;
  margin-bottom: 5px;
}

#countrySelect {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#vis {
  width: 200%; /* Set the width to 100% of its parent */
  margin: 0 auto; /* Center horizontally */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center content vertically, if needed */
}

#playPauseButton {
  margin: 40px; /* Add some space around the button */
  padding: 5px 10px; /* Add padding inside the button */
  font-size: 16px; /* Set the font size */
  background-color: #ccdceb; /* Remove quotes */
  border: 0.25px solid #9aabbc; /* Remove quotes */
}

.table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  unicode-bidi: isolate;
  border-spacing: 2px;
  border-color: gray;
}

#additional-info {
  top: 100px; /* adjust as needed */
  left: 100px; /* adjust as needed */
}

.slider-container {
  display: flex;
  flex-direction: column; /* Stack label and slider vertically */
  align-items: center; /* Center items horizontally */
}

/* Style the slider itself */
input[type='range'] {
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  width: 50%; /* Full width of the container */
  height: 8px; /* Height of the slider track */
  background: #ddd; /* Background color of the slider track */
  border-radius: 5px; /* Rounded corners for the track */
  outline: none; /* Remove outline */
}

/* Style the slider thumb */
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  appearance: none; /* Remove default styling */
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: #36c2ce; /* Color of the thumb */
  border-radius: 50%; /* Make the thumb circular */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Style the slider thumb for Firefox */
input[type='range']::-moz-range-thumb {
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: blue; /* Color of the thumb */
  border-radius: 50%; /* Make the thumb circular */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Style the slider thumb for Internet Explorer */
input[type='range']::-ms-thumb {
  width: 20px; /* Width of the thumb */
  height: 20px; /* Height of the thumb */
  background: blue; /* Color of the thumb */
  border-radius: 50%; /* Make the thumb circular */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Optional: Change the color of the track when the slider is active */
input[type='range']:active {
  background: #ccc; /* Change the background when active */
}

#top3-table {
  position: absolute; /* Use absolute positioning */
  top: 50px; /* Distance from the top of the page */
  left: 15%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust to center it */}
